<!DOCTYPE html>
<html>
  <head>
    
    <link rel="shortcut icon" href="https://img.icons8.com/color/48/000000/shop.png"/>
    <!--https://img.icons8.com/color/48/000000/drugstore.png
    <img src="https://img.icons8.com/ios/64/000000/external-health-medical-kiranshastry-lineal-color-kiranshastry.png"
    <img src="https://img.icons8.com/fluency/48/000000/pharmacy-shop.png"/>
    https://img.icons8.com/cotton/64/000000/health-shield--v1.png escudo
    <img src="https://img.icons8.com/color/48/000000/shop.png"/>
    />
    -->
    <title> <%= title %> - Home</title>
    
    <!-- Links Materialize -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>     
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!--Navbar-->
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="/cliente/createCliente">Cadastrar</a></li>
      <li><a href="/cliente/listCliente">Listar</a></li>
      <!--<li class="divider"></li>-->
      <li><a href="/cliente/findCliente">Pesquisar</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
      <li><a href="/produto/createProduto">Cadastrar</a></li>
      <li><a href="/produto/listProduto">Listar</a></li>
      <li><a href="/produto/findProduto">Pesquisar</a></li>
    </ul>
    <ul id="dropdown3" class="dropdown-content">
      <li><a href="/venda/createVenda">Cadastrar</a></li>
      <li><a href="/venda/listVenda">Listar</a></li>
     <!-- <li><a href="/produto/findProduto">Pesquisar</a></li>-->
    </ul>
    
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo" style="padding:9px 15px;"><h5>Farmacity</h5></a>
        <a href="#" data-activates="menu-mobile" class="button-collapse">
          <i class="material-icons">menu</i>
         </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/"><i class="material-icons left"><img src="https://img.icons8.com/office/16/000000/home--v1.png" style="margin-bottom: 3px;  width: 20px;"/></i>Home</a></li>
          <li><a href="#" id="dropCliente" class="dropdown-trigger" data-activates="dropdown1" data-target="dropdown1"><i class="material-icons left"><img src="https://img.icons8.com/officel/16/000000/conference-call.png" style="margin-bottom: 3px;  width: 20px;"/></i>Clientes</a></li>
          <li><a href="#" id="dropProduto" class="dropdown-trigger" data-activates="dropdown2" ><i class="material-icons left"><img src="https://img.icons8.com/color/50/000000/pills.png" style="margin-bottom: 3px; width: 20px;"/></i>Produtos</a></li>
          <li><a href="#" id="dropVenda" class="dropdown-trigger" data-activates="dropdown3" ><i class="material-icons left"><img src="https://img.icons8.com/officel/16/000000/sales-performance.png" style="margin-bottom: 3px; width: 20px;"/></i>Vendas</a></li>
          
          <li><a href="#">Login</a></li>
        </ul>
        <ul class="side-nav" id="menu-mobile">
          <li><a href="/"><i class="material-icons left"><img src="https://img.icons8.com/office/16/000000/home--v1.png" style="margin-bottom: 3px;  width: 20px;"/></i><b>Home</b></a></li>
          <li><a href="#"><i class="material-icons left"><img src="https://img.icons8.com/officel/16/000000/conference-call.png" style="margin-bottom: 3px;  width: 20px;"/></i><b>Clientes</b></a></li>
          <li><a href="/cliente/createCliente">Cadastrar Cliente</a></li>
          <li><a href="/cliente/listCliente">Listar Clientes</a></li>
          <li><a href="/cliente/findCliente">Pesquisar Cliente</a></li>
          <li><a href="#"><i class="material-icons left"><img src="https://img.icons8.com/color/50/000000/pills.png" style="margin-bottom: 3px; width: 20px;"/></i><b>Produtos</b></a></li>
          <li><a href="/produto/createProduto">Cadastrar Produto</a></li>
          <li><a href="/produto/listProduto">Listar Produtos</a></li>
          <li><a href="/produto/findProduto">Pesquisar Produtos</a></li>
          <li><a href="#"><i class="material-icons left"><img src="https://img.icons8.com/officel/16/000000/sales-performance.png" style="margin-bottom: 3px; width: 20px;"/></i><b>Vendas</b></a></li>
          <li><a href="/venda/createVenda">Cadastrar Venda</a></li>
          <li><a href="/venda/listVenda">Listar Vendas</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
     </nav>
     <!--fim Navbar
    <img src="https://img.icons8.com/color/48/000000/new-product--v1.png"/>
  <img src="https://img.icons8.com/ios/64/000000/external-medicine-hospital-justicon-flat-justicon.png"/>
<img src="https://img.icons8.com/officel/16/000000/conference-call.png"/>
<img src="https://img.icons8.com/fluency/48/000000/conference-call.png"/>
<img src="https://img.icons8.com/ios-filled/50/000000/conference-call.png"/>-->
  <main>
    <h3 class="center-align"><%= title %></h3>
    <br/>
    <div class="center-align">
      <!--
      <a href='/users/login'><button type='button' name='btLogin' disabled>Login</button></a>
      <a href='/users/register'><button type='button' name='btCadastro' disabled>Cadastro de Usuário</button></a>
      <br/><br/>-->
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="https://mercadoeconsumo.com.br/wp-content/uploads/2020/07/Cliente-foco-atendimento-e-dedica%C3%A7%C3%A3o.png" >
              <span class="card-title">Clientes</span>
            </div>
            <div class="card-action" style="color: green;">
              <a href='/cliente/createCliente' style="display: block; padding: 10px;" >Cadastro de Cliente</a>
              <a href='/cliente/listCliente' style="display: block; padding: 10px;">Listar Clientes</a>
              <a href='/cliente/findCliente' style="display: block; padding: 10px;">Buscar Cliente</a>
            </div>
          </div>
        </div>
     
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="https://distribuidorademedicamento.com.br/wp-content/uploads/2019/05/produtos-para-farmacia.jpg"  >
              <span class="card-title">Produtos</span>
            </div>
            <div class="card-action" style="color: green;">
              <a href='/produto/createProduto' style="display: block; padding: 10px;" >Cadastro de Produto</a>
              <a href='/produto/listProduto' style="display: block; padding: 10px;">Listar Produtos</a>
              <a href='/produto/findProduto' style="display: block; padding: 10px;">Buscar Produto</a>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="https://www.foccoerp.com.br/wp-content/uploads/2018/08/queda-nas-vendas.jpg"  >
              <span class="card-title">Vendas</span>
            </div>
            <div class="card-action" style="color: green;">
              <a href='/venda/createVenda' style="display: block; padding: 10px;" >Cadastro de Venda</a>
              <a href='/venda/listVenda' style="display: block; padding: 10px;">Listar Vendas</a>
              <a href='#' style="display: block; padding: 10px;">__</a>
            </div>
          </div>
        </div>
      </div>
                
    </div>
  </main>

     <!-- Links Materialize -->
     <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
   
     <script>
       
       $('#dropProduto').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: true, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: true, // Displays dropdown below the button
        alignment: 'left' // Displays dropdown with edge aligned to the left of button
       });

       $('#dropCliente').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: true, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: true, // Displays dropdown below the button
        alignment: 'left' // Displays dropdown with edge aligned to the left of button
       });

       $('#dropVenda').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: true, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: true, // Displays dropdown below the button
        alignment: 'left' // Displays dropdown with edge aligned to the left of button
       });

       $(function(){
        $("#dropCliente").dropdown();
        $("#dropProduto").dropdown();
        $("#dropVenda").dropdown();
        $(".button-collapse").sideNav();
       });  
     </script> 
     <footer>
       <p class="center-align">@JúliaHPM - 2021</p>
     </footer>
  </body>
</html>
