<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="https://img.icons8.com/color/48/000000/drugstore.png" />
    <title>Farmacity - Login   </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Farmacity</h1>
    <p>Login</p>
    <form action='/users/login' method='POST'>
      <input class="input-text" type="text" name='username' placeholder="Digite o nome de usuário" autofocus="true">
      <input class="input-text" type="text" name='password' placeholder="Digite a senha">
      <button type='submit'> Entrar </button>
    </form>
    <a href='/'><button type='button'> Cancelar </button></a>
</html>
