body {
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main{
  padding: 50px;
}

/* cor da navbar */
.nav-wrapper{
  background-color: #4CAF50;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  overflow: scroll;
}

.scroll-table{
  overflow-x:auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;

}

tr:nth-child(even) {
  background-color: rgba(240, 240, 240, 0.781) ;
}

tr:hover{
  background-color: rgb(228, 255, 220);
}

button {
  background-color: #4CAF50; /* Green */
  border: 2px solid white;
  color: white;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  border: 2px solid #4CAF50;
  background-color: white;
  color: #4CAF50;
}

button:disabled{
  background-color: rgb(179, 178, 178);
  color: black;
}

.lixeira{
    all: unset;
    cursor: pointer;
    outline: revert;
}

.lixeira:hover{
  border: none;
  background-color:transparent;
  color: none;
}

input[type=text], select {
  /*width: 100%;*/
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.diminuir-width-cadastro-venda{
  width: 60%;
  margin: auto;
}
.diminuir-width{
  width: 40%;
  margin: auto;
}


@media screen and ( max-width: 1200px){
  .diminuir-width{
    width: 50%;
  }
  .diminuir-width-cadastro-venda{
    width: 70%;
  }
}

@media screen and (max-width: 800px){
  .diminuir-width{
    width: 90%;
  }
  .diminuir-width-cadastro-venda{
    width: 90%;
  }
}

footer {
  background-color: rgb(235, 255, 215);
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 60px;
  padding-top: 10px;
}

footer p{
  padding-left: 20px;
}